/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Raleway', sans-serif; */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}

.body-front-family {
  font-family: "Roboto", sans-serif;
  color: #212121;
}

.web-blue {
  color: #2196f3;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
/*======CONTAINER======*/
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
/*======END CONTAINER======*/
/*======NAV======*/
.header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-botder {
  border: #ececec 1px solid;
}
.header .container {
  display: flex;
  align-items: center;
  background-color: #ffffff;
}
.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  align-items: center;
}
.navigation-item:not(:last-child) {
  margin-right: 50px;
}

.img-logo-header {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: #000;
  margin-right: 93px;
}

.text-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.tel-mail-head {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.nav-link:not(:last-child) {
  margin-left: auto;
  margin-right: 50px;
}

.nav-link:focus,
.nav-link:hover {
  color: #2196f3;
}
/*======END NAV======*/
/*======HERO======*/

.text-button-center {
  text-align: center;
}
.section-hero {
  background-color: #2f303a;
  max-width: 1600px;
  margin: 0 auto;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-background {
  background-image: url(../images/Img-work.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.hero-text {
  font-weight: 900;
  font-size: 44px;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.text-button {
  margin-top: 40px;
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  border: transparent;
  cursor: pointer;
  color: #ffffff;
  text-align: center;
  background-color: #2196f3;
  padding: 10px 32px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.text-button:hover,
.text-button:focus {
  background-color: #188ce8;
}

/*======END HERO======*/
/*======MAIN======*/
.team {
  background-color: #f5f4fa;
}

.section-main {
  padding-top: 89px;
  padding-bottom: 94px;
}

.main-list {
  display: flex;
  align-items: center;
}

.team-list {
  display: flex;
  margin-left: -30px;
  margin-top: 50px;
}
.main-list-text:not(:last-child) {
  margin-right: 30px;
}
.text-main {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.text-main-normal {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.text-center {
  font-weight: 600;
  font-size: 36px;
  text-align: center;
}
.team-img {
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.team-img-margin-photo {
  flex-basis: calc(100% / 3 - 0px);
}

.team-img-margin {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
}

.img-margin-master {
  width: 270px;
  box-shadow: 0px 4px 4px 0px #afb1b8;
  border-radius: 4px;
  background-color: #fffbfb;
  padding: 0px 0px 30px;
}

.text-center-team {
  padding-top: 30px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
}

.center-team-profession {
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
  color: #757575;
}
/*======END MAIN======*/
/*======FOOTER======*/
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.img-logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: #ffffff;
}

.addres-footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.mail-footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-top: 20px;
}

.tel-mail-footer {
  color: #ffffff99;
}
.tel-mail-margin {
  margin-top: 9px;
  margin-bottom: 9px;
}

/*======END FOOTER======*/

/*======BUTTONS======*/
.button-style {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #000000;
  background-color: #f5f4fa;
  cursor: pointer;
  min-width: 80px;
  border: transparent;
  text-align: center;
  padding: 6px 22px;
}
.button-style:focus,
.button-style:hover {
  color: #f5f4fa;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
/*======END BUTTONS======*/

/*======PORTFOLIO======*/
.section-image {
  padding-bottom: 94px;
}

.portfolio-nav {
  margin-bottom: 50px;
}

.portfolio-nav-list {
  display: flex;
  justify-content: center;
}

.portfolio-hero:not(:last-child) {
  margin-right: 8px;
  align-items: center;
}

.section-padding {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}
.section-portfolio {
  margin-top: 94px;
  margin-bottom: 94px;
}

.portfolio-padding {
  padding: 20px 23px 19px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.portfolio-img {
  display: flex;
  flex-wrap: wrap;
  /*justify-content: center;*/
  flex-basis: calc(100% / 3 - 30px);
  margin-top: -30px;
  margin-right: -30px;
}

.portfolio-photos {
  margin-top: 30px;
  margin-right: 30px;
}

.portfolio-photos-shadows:hover,
.portfolio-photos-shadows:focus {
  box-shadow: 0px 4px 4px 0px #afb1b8;
  cursor: pointer;
}
/*======END PORTFOLIO======*/
